@keyframes cometAnimation {
  0% {
    transform: scale(0); /* Start small and invisible */
    opacity: 0.5;
  }
  50% {
    transform: scale(1.5); /* Transition to its actual size */
    opacity: 0.5; /* Adjust opacity as needed */
  }
  100% {
    transform: scale(3.5); /* Increase size at the end */
    opacity: 0; /* Fade out at the end */
  }
}

#wrapper {
  width: 100%;
  overflow: hidden;

  .color-trail {
    width: 12px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    opacity: 0.7;
    pointer-events: none;
    animation: cometAnimation 2s linear;
    background-color: #ffffff;
    box-shadow: none; /* Remove the default box-shadow */
    filter: blur(3px); /* Add a slight blur to create a glowing effect */
  }
  // ----------------------Background-------------------------
  .color-splash {
    /* Background */
    position: relative;
    width: 100%;
    height: auto;
    background-color: #121212; /* Dark space-like background color */
    margin-bottom: -350px; //  For larger screens.

    &:hover {
      cursor: none;
    }
    &:video {
      object-fit: cover;
      width: 100%;
      height: auto;
      z-index: -99;
    }

    // -------------------Header--------------------
    .header {
      position: absolute;
      top: 0;
      max-width: 1320px;
      padding-top: 35px;
      padding-bottom: 10px;

      z-index: 99;

      .div_left {
        a {
          position: absolute;
          top: 30px;
          color: #fff;
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          line-height: 35px;
          text-decoration: none;
          transition: all 0.3s ease;
          &:hover {
            color: #007ced;
            span {
              color: white;
            }
          }
          span {
            font-weight: 700;
            border-bottom: 2px solid rgb(255, 255, 255);
            color: #007ced;
          }
        }
      }
      .div_mid {
        display: flex;
        justify-content: center;
        ul {
          display: flex;
          flex-direction: row;
          gap: 35px;
          justify-content: center;
          cursor: default;
          li {
            list-style: none;
            a {
              color: rgba(255, 255, 255, 0.873);
              font-family: Inter;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 35px; /* 194.444% */
              text-decoration: none;
              padding: 10px 15px;
              transition: all 0.3s ease;
              border-radius: 20px;

              &:hover {
                background-color: #007ced;
                color: black;
              }
            }
          }
        }
      }
      .div_right {
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;
        a {
          color: rgba(255, 255, 255, 0.873);
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 35px; /* 194.444% */
          text-decoration: none;
          background-color: rgba(255, 255, 255, 0.616);
          color: rgb(13, 13, 128);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          border-radius: 5px;
          transition: all 0.3s ease;
          &:hover {
            background: white;
          }
        }
      }
    }
    // ----------------------First Content-----------------------
    // --------------Left Content----------------
    .rotate_wrapper {
      position: absolute;
      top: 175px;
      width: 400px;
      height: 400px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.232);
      display: flex;
      justify-content: center;
      align-items: center;
      .left_image {
        width: 300px;
        height: 300px;
        flex-shrink: 0;
        border-radius: 528px;
        background: #444;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        cursor: url(../images/rocket3.png), auto;
        position: relative;
        img {
          width: 275px;
          height: 275px;
          border-radius: 50%;
        }
      }
      .rotating_div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        @media (min-width: 1920px) {
          display: none;
        }
      }
    }
    // -------------Right Content--------------
    .right_content {
      position: absolute;

      top: 175px;
      z-index: 5;
      right: 100px;
      border-left: 3px solid #ffffff;
      padding-left: 40px;
      background: #00000026;
      padding-bottom: 30px;
      p {
        color: #fff;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px; /* 175% */
        cursor: default;
        &:first-child {
          width: 30%;
        }
      }
      h3 {
        color: #fff;
        font-family: Inter;
        font-size: 60px;
        width: 90%;
        font-style: normal;
        font-weight: 700;
        line-height: 35px; /* 50% */
        margin-top: 40px;
        margin-bottom: 40px;
        cursor: default;
      }
      .buttons {
        button {
          width: 177px;
          height: 62px;
          flex-shrink: 0;
          border-radius: 30px;
          border: none;
          background: #333;
          cursor: default;
          transition: all 0.2s ease;
          &:hover {
            border: 3px solid #007ced;
          }
          &:last-child {
            margin-left: 30px;
          }
          a {
            color: #fff;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 35px; /* 175% */
            text-decoration: none;
          }
        }
      }
    }
  }

  // ---------------------Wrapper End-----------------------
}
// --------------------------------------------------
//                 *  New Wrapper
// --------------------------------------------------
#wrapper_new {
  width: 100%;
  height: auto;
  overflow: hidden;
  #portfolio {
    padding-bottom: 50px;
    width: 100%;
    height: auto;
    background: url("../images/space4.jpg") repeat; /* Replace "star.png" with the path to your star image */
    background-position: center center;
    background-size: cover;
    animation: starsMove 10s linear infinite alternate; /* Set the animation direction to alternate */
    .portfolio_above {
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      gap: 500px;
      justify-content: center;
      button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
      }
      #button_1 {
        transform: translateX(-600px);
        transition: all 4s ease;
      }
      #button_2 {
        transform: translateX(600px);
        transition: all 4s ease;
      }
    }
    .portfolio_mid {
      .sun {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 3s ease;
        z-index: 5;
        cursor: none;

        &:hover {
          background-color: rgb(255, 255, 86);
          transform: scale(1.2);
        }
        button {
          background: transparent;
          border: none;
          color: rgb(112, 112, 3);
        }
      }
    }
    .portfolio_under {
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      gap: 250px;
      justify-content: center;

      button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
      }
      #button_3 {
        transform: translateX(-300px);
        transition: all 4s ease;
      }
      #button_4 {
        transform: translateX(300px);
        transition: all 4s ease;
      }
    }
    .info {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        color: rgba(255, 255, 255, 0.7);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 187.5% */

        text-align: center;
        // border-radius: 50%;
        // width: 300px;
        // height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          margin-bottom: 10px;
          font-family: Inter;
          font-size: 16px;
          font-weight: 700;
          color: white;
          transition: all 1s ease;
        }
        // ---------------------
        background: rgba(255, 255, 255, 0.075);
        backdrop-filter: blur(12px);
        border-radius: 50%;
        padding: 50px;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
        width: 400px;
        height: 300px;
        clip-path: polygon(
          50% 0%,
          90% 30%,
          80% 70%,
          50% 100%,
          20% 70%,
          10% 30%
        );
        // animation: fadeInUp 1s ease-out, glow 2s infinite alternate;
        // transform-origin: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // text-align: center;
        // @keyframes fadeInUp {
        //   0% {
        //     opacity: 0;
        //     transform: translateY(20px);
        //   }
        //   100% {
        //     opacity: 1;
        //     transform: translateY(0);
        //   }
        // }

        // @keyframes glow {
        //   0% {
        //     box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
        //   }
        //   100% {
        //     box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6),
        //       0 0 20px rgba(0, 153, 255, 0.8);
        //   }
        // }
      }
    }
    .left_up {
      margin-top: -150px;
    }
    .right_up {
      margin-top: -150px;
    }
    .left_down {
    }
    .cv {
      color: white;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      margin-top: -150px;
      a {
        text-decoration: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid white;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;

        &:first-child:hover {
          background-color: #007ced;
        }
        &:last-child {
          font-size: 28px;
          transition: transform 1s ease;
          &:hover {
            background-color: transparent;
            transform: translateY(15px);
          }
        }
      }
    }
    .right_down {
    }
  }

  @keyframes starsMove {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0px -50px;
    } /* Adjust the values to control star speed and distance */
  }

  /* Hide any scrollbar that might appear due to the animation */
  ::-webkit-scrollbar {
    display: none;
  }
  // ---------------------------------------------------------------
  //                        * Skills
  // ---------------------------------------------------------------
  #skills {
    width: 100%;
    height: auto;
    background: url(../images/space5.jpg);

    background-size: cover;
    padding-bottom: 75px;

    background-position: center center;
    animation: backgrMoves 5s linear infinite alternate;
    @keyframes backgrMoves {
      from {
        background-position: 0 0;
      }
      to {
        background-position: 0 -25px;
      } /* Adjust the values to control star speed and distance */
    }

    /* Hide any scrollbar that might appear due to the animation */
    ::-webkit-scrollbar {
      display: none;
    }
    .title_ {
      width: 95%;
      display: flex;
      justify-content: center;

      color: white;

      margin-top: 100px;
      h1 {
        color: #0000006f;
        opacity: 0.5;
      }
    }
    .centered_blackhole {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-top: 40vh;
    }
    .skills_left {
      margin-top: -250px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      .skills_left_div {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: #12121214;
        z-index: 5;
        &::before {
          position: absolute;
          content: "";
          top: -5px;
          left: -70px;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &::after {
          position: absolute;
          content: "";
          width: 100%;
          bottom: 0;
          height: 7px;
          border-radius: 8px;
          background: #007ced;
          opacity: 0.6;
        }
        h3 {
          color: #fff;
          font-family: "Inter";
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 35px; /* 194.444% */
          opacity: 0.7;
          cursor: pointer;
          transition: all 0.5s ease;
          &:hover {
            opacity: 1;
          }
        }
      }
      .skill_1 {
        margin-left: 100px;
        &::before {
          content: url(../images/html1.png);
        }
      }
      .skill_2 {
        width: 80%;
        margin-left: 20px;
        &::before {
          content: url(../images/css1.png);
        }
      }
      .skill_3 {
        width: 75%;
        &::before {
          content: url(../images/bootstrap1.png);
        }
      }
      .skill_4 {
        margin-left: 20px;
        width: 80%;
        &::before {
          content: url(../images/sass1.png);
        }
      }
      .skill_5 {
        margin-left: 50px;
        &::before {
          content: url(../images/js1.png);
        }
      }
    }
    // .....................
    .skills_right {
      margin-top: -250px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      .skills_right_div {
        background: #12121223;
        height: 43px;
        &::before {
        }

        &::after {
        }
        h3 {
        }
        p {
          color: rgba(255, 255, 255, 0.495);
          font-size: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .skill_r1 {
        margin-right: 100px;
        &::before {
        }
      }
      .skill_r2 {
        margin-left: 20%;
        &::before {
        }
      }
      .skill_r3 {
        margin-left: 25%;
        &::before {
        }
      }
      .skill_r4 {
        margin-left: 20%;
        &::before {
        }
      }
      .skill_r5 {
        margin-right: 100px;
        &::before {
        }
      }
    }

    .down_arrow {
      display: flex;
      justify-content: center;
      margin-top: 75px;
      a {
        text-decoration: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid white;
        background: #12121220;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        font-size: 28px;
        transition: transform 1s ease;
        &:hover {
          background-color: transparent;
          transform: translateY(15px);
        }
      }
    }
  }
  // ------------------------------------------------------
  //                     * PROJECTS
  // ------------------------------------------------------
  #projects {
    position: relative;
    background: url(../images/pxfuel.jpg);
    background-size: cover;
    background-position: right right;
    width: 100%;
    height: auto;
    padding-top: 0;
    padding-bottom: 100px;
    overflow: hidden;
    animation: ProjectMove 4s linear infinite alternate;
    @keyframes ProjectMove {
      from {
        background-position: 0 0;
      }
      to {
        background-position: -30px;
      } /* Adjust the values to control star speed and distance */
    }

    .projects_left {
      margin-top: 50px;

      .project_info {
        &:last-child {
          margin-top: 25px;
        }
        padding-left: 20px;
        padding-top: 10px;
        background: #1212125c;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        transition: all 0.5s ease;
        &:hover {
          background-color: #007aed22;
        }
        h3 {
          color: #fff;
          font-family: "Inter";
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 35px; /* 194.444% */
        }
        p {
          color: rgba(255, 255, 255, 0.7);
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px; /* 187.5% */
        }
        .project_image {
          width: 400px;
          height: 200px;
          img {
            height: 180px;
          }
        }
      }
    }
    .project_arrow {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 30px;
      a {
        text-decoration: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid white;
        background: #12121220;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        font-size: 28px;
        transition: transform 1s ease;
        &:hover {
          background-color: rgba(0, 0, 0, 0.308);
          transform: translateY(15px);
        }
      }
    }
    .projects_right {
      margin-top: 25vh;
      background: #1212122f;
      padding: 15px 20px;
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      #iframe {
        width: 450px;
        height: 250px;
      }
      transition: all 0.5s ease;
      &:hover {
        background-color: #007aed22;
      }
    }
  }
  // ---------------------------------------------------------------------
  //                             * CONTACT
  // ---------------------------------------------------------------------
  #contact {
    padding-top: 25vh;
    position: relative;
    background: url(../images/contact_backgr.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: auto;
    padding-bottom: 70px;
    animation: backgroundMoves 7s linear infinite alternate;
    @keyframes backgroundMoves {
      from {
        background-position: -200px 0;
      }
      to {
        background-position: -150px 0;
      } /* Adjust the values to control star speed and distance */
    }
    .check_work {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 150px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 10px;
      }
    }
    // ----------------
    .left_contact {
      .left_info {
        position: relative;
        &:before {
          position: absolute;
          content: "";
          top: 0;
          left: -50px;
        }
        a {
          text-decoration: none;
          color: #fff;
          font-family: "Inter";
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 35px; /* 175% */
        }
        p {
          color: rgba(255, 255, 255, 0.7);
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px; /* 150% */
        }
      }
      .before_1::before {
        content: url(../images/mobile.png);
      }
      .before_2::before {
        content: url(../images/location.png);
      }
      .before_3::before {
        content: url(../images/email.png);
      }
    }
    // -------------------
    .right_contact {
      .title {
        h2 {
          color: #fff;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 30px;
          margin-left: 15%;
        }
      }
      .right_left {
        display: flex;
        flex-direction: column;
        input {
          width: 350px;
          height: 50px;
          flex-shrink: 0;
          border-radius: 5px;
          border: 2px solid #4453be;
          background: transparent;
          color: white;

          &::placeholder {
            padding-left: 10px;
          }

          #subject {
          }
          #email {
          }
          #phone {
          }
        }
      }
      .right_right {
        #text {
          width: 500px;
          height: 200px;
          flex-shrink: 0;
          border-radius: 5px;
          border: 2px solid #555;
          background: transparent;
          border-radius: 5px;
          border: 2px solid #4453be;
          color: white;

          &::placeholder {
            text-align: center;
          }
        }
      }
      .form_button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        button {
          margin-right: 15%;
          border-radius: 30px;
          border: 3px solid #007ced;
          background: transparent;
          width: 160px;
          height: 40px;
          flex-shrink: 0;
          color: #fff;
          font-family: "Inter";
          font-size: 16px;
          letter-spacing: 3px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px; /* 175% */
          transition: all 0.3s ease;
          &:hover {
            background-color: rgba(255, 255, 255, 0.171);
          }
        }
      }
    }
  }

  //  -----------
  // --------------------
  // ----------------------------
  // ------------------------------------
  // ---------------------------------------------
  // -------------Wrapper New End----------------
}
