@keyframes cometAnimation {
  0% {
    transform: scale(0); /* Start small and invisible */
    opacity: 0.5;
  }
  50% {
    transform: scale(1.5); /* Transition to its actual size */
    opacity: 0.5; /* Adjust opacity as needed */
  }
  100% {
    transform: scale(3.5); /* Increase size at the end */
    opacity: 0; /* Fade out at the end */
  }
}
#wrapper {
  width: 100%;
  overflow: hidden;
}
#wrapper .color-trail {
  width: 12px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  opacity: 0.7;
  pointer-events: none;
  animation: cometAnimation 2s linear;
  background-color: #ffffff;
  box-shadow: none; /* Remove the default box-shadow */
  filter: blur(3px); /* Add a slight blur to create a glowing effect */
}
#wrapper .color-splash {
  /* Background */
  position: relative;
  width: 100%;
  height: auto;
  background-color: #121212; /* Dark space-like background color */
  margin-bottom: -350px;
}
#wrapper .color-splash:hover {
  cursor: none;
}
#wrapper .color-splash:video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  z-index: -99;
}
#wrapper .color-splash .header {
  position: absolute;
  top: 0;
  max-width: 1320px;
  padding-top: 35px;
  padding-bottom: 10px;
  z-index: 99;
}
#wrapper .color-splash .header .div_left a {
  position: absolute;
  top: 30px;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  text-decoration: none;
  transition: all 0.3s ease;
}
#wrapper .color-splash .header .div_left a:hover {
  color: #007ced;
}
#wrapper .color-splash .header .div_left a:hover span {
  color: white;
}
#wrapper .color-splash .header .div_left a span {
  font-weight: 700;
  border-bottom: 2px solid rgb(255, 255, 255);
  color: #007ced;
}
#wrapper .color-splash .header .div_mid {
  display: flex;
  justify-content: center;
}
#wrapper .color-splash .header .div_mid ul {
  display: flex;
  flex-direction: row;
  gap: 35px;
  justify-content: center;
  cursor: default;
}
#wrapper .color-splash .header .div_mid ul li {
  list-style: none;
}
#wrapper .color-splash .header .div_mid ul li a {
  color: rgba(255, 255, 255, 0.873);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 194.444% */
  text-decoration: none;
  padding: 10px 15px;
  transition: all 0.3s ease;
  border-radius: 20px;
}
#wrapper .color-splash .header .div_mid ul li a:hover {
  background-color: #007ced;
  color: black;
}
#wrapper .color-splash .header .div_right {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
#wrapper .color-splash .header .div_right a {
  color: rgba(255, 255, 255, 0.873);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 194.444% */
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.616);
  color: rgb(13, 13, 128);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
#wrapper .color-splash .header .div_right a:hover {
  background: white;
}
#wrapper .color-splash .rotate_wrapper {
  position: absolute;
  top: 175px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.232);
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrapper .color-splash .rotate_wrapper .left_image {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 528px;
  background: #444;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  cursor: url(../images/rocket3.png), auto;
  position: relative;
}
#wrapper .color-splash .rotate_wrapper .left_image img {
  width: 275px;
  height: 275px;
  border-radius: 50%;
}
#wrapper .color-splash .rotate_wrapper .rotating_div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
}
@media (min-width: 1920px) {
  #wrapper .color-splash .rotate_wrapper .rotating_div {
    display: none;
  }
}
#wrapper .color-splash .right_content {
  position: absolute;
  top: 175px;
  z-index: 5;
  right: 100px;
  border-left: 3px solid #ffffff;
  padding-left: 40px;
  background: rgba(0, 0, 0, 0.1490196078);
  padding-bottom: 30px;
}
#wrapper .color-splash .right_content p {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 175% */
  cursor: default;
}
#wrapper .color-splash .right_content p:first-child {
  width: 30%;
}
#wrapper .color-splash .right_content h3 {
  color: #fff;
  font-family: Inter;
  font-size: 60px;
  width: 90%;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 50% */
  margin-top: 40px;
  margin-bottom: 40px;
  cursor: default;
}
#wrapper .color-splash .right_content .buttons button {
  width: 177px;
  height: 62px;
  flex-shrink: 0;
  border-radius: 30px;
  border: none;
  background: #333;
  cursor: default;
  transition: all 0.2s ease;
}
#wrapper .color-splash .right_content .buttons button:hover {
  border: 3px solid #007ced;
}
#wrapper .color-splash .right_content .buttons button:last-child {
  margin-left: 30px;
}
#wrapper .color-splash .right_content .buttons button a {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 175% */
  text-decoration: none;
}

#wrapper_new {
  width: 100%;
  height: auto;
  overflow: hidden;
  /* Hide any scrollbar that might appear due to the animation */
}
#wrapper_new #portfolio {
  padding-bottom: 50px;
  width: 100%;
  height: auto;
  background: url("../images/space4.jpg") repeat; /* Replace "star.png" with the path to your star image */
  background-position: center center;
  background-size: cover;
  animation: starsMove 10s linear infinite alternate; /* Set the animation direction to alternate */
}
#wrapper_new #portfolio .portfolio_above {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 500px;
  justify-content: center;
}
#wrapper_new #portfolio .portfolio_above button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
}
#wrapper_new #portfolio .portfolio_above #button_1 {
  transform: translateX(-600px);
  transition: all 4s ease;
}
#wrapper_new #portfolio .portfolio_above #button_2 {
  transform: translateX(600px);
  transition: all 4s ease;
}
#wrapper_new #portfolio .portfolio_mid .sun {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 3s ease;
  z-index: 5;
  cursor: none;
}
#wrapper_new #portfolio .portfolio_mid .sun:hover {
  background-color: rgb(255, 255, 86);
  transform: scale(1.2);
}
#wrapper_new #portfolio .portfolio_mid .sun button {
  background: transparent;
  border: none;
  color: rgb(112, 112, 3);
}
#wrapper_new #portfolio .portfolio_under {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 250px;
  justify-content: center;
}
#wrapper_new #portfolio .portfolio_under button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
}
#wrapper_new #portfolio .portfolio_under #button_3 {
  transform: translateX(-300px);
  transition: all 4s ease;
}
#wrapper_new #portfolio .portfolio_under #button_4 {
  transform: translateX(300px);
  transition: all 4s ease;
}
#wrapper_new #portfolio .info {
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrapper_new #portfolio .info p {
  color: rgba(255, 255, 255, 0.7);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 187.5% */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.075);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 50%;
  padding: 50px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 300px;
  -webkit-clip-path: polygon(50% 0%, 90% 30%, 80% 70%, 50% 100%, 20% 70%, 10% 30%);
          clip-path: polygon(50% 0%, 90% 30%, 80% 70%, 50% 100%, 20% 70%, 10% 30%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrapper_new #portfolio .info p span {
  margin-bottom: 10px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  color: white;
  transition: all 1s ease;
}
#wrapper_new #portfolio .left_up {
  margin-top: -150px;
}
#wrapper_new #portfolio .right_up {
  margin-top: -150px;
}
#wrapper_new #portfolio .cv {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: -150px;
}
#wrapper_new #portfolio .cv a {
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
#wrapper_new #portfolio .cv a:first-child:hover {
  background-color: #007ced;
}
#wrapper_new #portfolio .cv a:last-child {
  font-size: 28px;
  transition: transform 1s ease;
}
#wrapper_new #portfolio .cv a:last-child:hover {
  background-color: transparent;
  transform: translateY(15px);
}
@keyframes starsMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0px -50px;
  } /* Adjust the values to control star speed and distance */
}
#wrapper_new ::-webkit-scrollbar {
  display: none;
}
#wrapper_new #skills {
  width: 100%;
  height: auto;
  background: url(../images/space5.jpg);
  background-size: cover;
  padding-bottom: 75px;
  background-position: center center;
  animation: backgrMoves 5s linear infinite alternate;
  /* Hide any scrollbar that might appear due to the animation */
}
@keyframes backgrMoves {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -25px;
  } /* Adjust the values to control star speed and distance */
}
#wrapper_new #skills ::-webkit-scrollbar {
  display: none;
}
#wrapper_new #skills .title_ {
  width: 95%;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 100px;
}
#wrapper_new #skills .title_ h1 {
  color: rgba(0, 0, 0, 0.4352941176);
  opacity: 0.5;
}
#wrapper_new #skills .centered_blackhole {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
}
#wrapper_new #skills .skills_left {
  margin-top: -250px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#wrapper_new #skills .skills_left .skills_left_div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(18, 18, 18, 0.0784313725);
  z-index: 5;
}
#wrapper_new #skills .skills_left .skills_left_div::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -70px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrapper_new #skills .skills_left .skills_left_div::after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  height: 7px;
  border-radius: 8px;
  background: #007ced;
  opacity: 0.6;
}
#wrapper_new #skills .skills_left .skills_left_div h3 {
  color: #fff;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 194.444% */
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.5s ease;
}
#wrapper_new #skills .skills_left .skills_left_div h3:hover {
  opacity: 1;
}
#wrapper_new #skills .skills_left .skill_1 {
  margin-left: 100px;
}
#wrapper_new #skills .skills_left .skill_1::before {
  content: url(../images/html1.png);
}
#wrapper_new #skills .skills_left .skill_2 {
  width: 80%;
  margin-left: 20px;
}
#wrapper_new #skills .skills_left .skill_2::before {
  content: url(../images/css1.png);
}
#wrapper_new #skills .skills_left .skill_3 {
  width: 75%;
}
#wrapper_new #skills .skills_left .skill_3::before {
  content: url(../images/bootstrap1.png);
}
#wrapper_new #skills .skills_left .skill_4 {
  margin-left: 20px;
  width: 80%;
}
#wrapper_new #skills .skills_left .skill_4::before {
  content: url(../images/sass1.png);
}
#wrapper_new #skills .skills_left .skill_5 {
  margin-left: 50px;
}
#wrapper_new #skills .skills_left .skill_5::before {
  content: url(../images/js1.png);
}
#wrapper_new #skills .skills_right {
  margin-top: -250px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#wrapper_new #skills .skills_right .skills_right_div {
  background: rgba(18, 18, 18, 0.137254902);
  height: 43px;
}
#wrapper_new #skills .skills_right .skills_right_div p {
  color: rgba(255, 255, 255, 0.495);
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrapper_new #skills .skills_right .skill_r1 {
  margin-right: 100px;
}
#wrapper_new #skills .skills_right .skill_r2 {
  margin-left: 20%;
}
#wrapper_new #skills .skills_right .skill_r3 {
  margin-left: 25%;
}
#wrapper_new #skills .skills_right .skill_r4 {
  margin-left: 20%;
}
#wrapper_new #skills .skills_right .skill_r5 {
  margin-right: 100px;
}
#wrapper_new #skills .down_arrow {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}
#wrapper_new #skills .down_arrow a {
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  background: rgba(18, 18, 18, 0.1254901961);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-size: 28px;
  transition: transform 1s ease;
}
#wrapper_new #skills .down_arrow a:hover {
  background-color: transparent;
  transform: translateY(15px);
}
#wrapper_new #projects {
  position: relative;
  background: url(../images/pxfuel.jpg);
  background-size: cover;
  background-position: right right;
  width: 100%;
  height: auto;
  padding-top: 0;
  padding-bottom: 100px;
  overflow: hidden;
  animation: ProjectMove 4s linear infinite alternate;
}
@keyframes ProjectMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -30px;
  } /* Adjust the values to control star speed and distance */
}
#wrapper_new #projects .projects_left {
  margin-top: 50px;
}
#wrapper_new #projects .projects_left .project_info {
  padding-left: 20px;
  padding-top: 10px;
  background: rgba(18, 18, 18, 0.3607843137);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: all 0.5s ease;
}
#wrapper_new #projects .projects_left .project_info:last-child {
  margin-top: 25px;
}
#wrapper_new #projects .projects_left .project_info:hover {
  background-color: rgba(0, 122, 237, 0.1333333333);
}
#wrapper_new #projects .projects_left .project_info h3 {
  color: #fff;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 194.444% */
}
#wrapper_new #projects .projects_left .project_info p {
  color: rgba(255, 255, 255, 0.7);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
#wrapper_new #projects .projects_left .project_info .project_image {
  width: 400px;
  height: 200px;
}
#wrapper_new #projects .projects_left .project_info .project_image img {
  height: 180px;
}
#wrapper_new #projects .project_arrow {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 30px;
}
#wrapper_new #projects .project_arrow a {
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  background: rgba(18, 18, 18, 0.1254901961);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-size: 28px;
  transition: transform 1s ease;
}
#wrapper_new #projects .project_arrow a:hover {
  background-color: rgba(0, 0, 0, 0.308);
  transform: translateY(15px);
}
#wrapper_new #projects .projects_right {
  margin-top: 25vh;
  background: rgba(18, 18, 18, 0.1843137255);
  padding: 15px 20px;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
#wrapper_new #projects .projects_right #iframe {
  width: 450px;
  height: 250px;
}
#wrapper_new #projects .projects_right:hover {
  background-color: rgba(0, 122, 237, 0.1333333333);
}
#wrapper_new #contact {
  padding-top: 25vh;
  position: relative;
  background: url(../images/contact_backgr.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: auto;
  padding-bottom: 70px;
  animation: backgroundMoves 7s linear infinite alternate;
}
@keyframes backgroundMoves {
  from {
    background-position: -200px 0;
  }
  to {
    background-position: -150px 0;
  } /* Adjust the values to control star speed and distance */
}
#wrapper_new #contact .check_work {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
#wrapper_new #contact .check_work a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
}
#wrapper_new #contact .left_contact .left_info {
  position: relative;
}
#wrapper_new #contact .left_contact .left_info:before {
  position: absolute;
  content: "";
  top: 0;
  left: -50px;
}
#wrapper_new #contact .left_contact .left_info a {
  text-decoration: none;
  color: #fff;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px; /* 175% */
}
#wrapper_new #contact .left_contact .left_info p {
  color: rgba(255, 255, 255, 0.7);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
#wrapper_new #contact .left_contact .before_1::before {
  content: url(../images/mobile.png);
}
#wrapper_new #contact .left_contact .before_2::before {
  content: url(../images/location.png);
}
#wrapper_new #contact .left_contact .before_3::before {
  content: url(../images/email.png);
}
#wrapper_new #contact .right_contact .title h2 {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-left: 15%;
}
#wrapper_new #contact .right_contact .right_left {
  display: flex;
  flex-direction: column;
}
#wrapper_new #contact .right_contact .right_left input {
  width: 350px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #4453be;
  background: transparent;
  color: white;
}
#wrapper_new #contact .right_contact .right_left input::-moz-placeholder {
  padding-left: 10px;
}
#wrapper_new #contact .right_contact .right_left input::placeholder {
  padding-left: 10px;
}
#wrapper_new #contact .right_contact .right_right #text {
  width: 500px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #555;
  background: transparent;
  border-radius: 5px;
  border: 2px solid #4453be;
  color: white;
}
#wrapper_new #contact .right_contact .right_right #text::-moz-placeholder {
  text-align: center;
}
#wrapper_new #contact .right_contact .right_right #text::placeholder {
  text-align: center;
}
#wrapper_new #contact .right_contact .form_button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#wrapper_new #contact .right_contact .form_button button {
  margin-right: 15%;
  border-radius: 30px;
  border: 3px solid #007ced;
  background: transparent;
  width: 160px;
  height: 40px;
  flex-shrink: 0;
  color: #fff;
  font-family: "Inter";
  font-size: 16px;
  letter-spacing: 3px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 175% */
  transition: all 0.3s ease;
}
#wrapper_new #contact .right_contact .form_button button:hover {
  background-color: rgba(255, 255, 255, 0.171);
}/*# sourceMappingURL=app.css.map */