@media (min-width: 993px) and (max-width: 1200px) {
  #wrapper .color-splash .header .div_mid {
    width: auto;
    position: relative;
  }
  #wrapper .color-splash .header .div_right {
    display: block;
  }
  #wrapper .color-splash .header .div_right a {
    position: absolute;
    right: 70px;
    top: 40px;
  }
  #wrapper .color-splash .rotate_wrapper {
    margin-left: 0;
  }
  #wrapper .color-splash .right_content {
    top: 150px;
  }
  #wrapper .color-splash .right_content p {
    font-size: 18px;
  }
  #wrapper .color-splash .right_content p:first-child {
    display: none;
  }
  #wrapper .color-splash .right_content h3 {
    width: 100%;
  }
  #wrapper_new {
    /* Hide any scrollbar that might appear due to the animation */
  }
  #wrapper_new #portfolio .right_up {
    margin-top: -150px;
  }
  #wrapper_new #skills .title_ {
    margin-left: 175px;
  }
  #wrapper_new #skills .title_ h1 {
    font-size: 30px;
  }
  #wrapper_new #skills .skills_left .skill_1 {
    margin-left: 0;
  }
  #wrapper_new #skills .skills_left .skill_2 {
    width: 100%;
    margin-left: 0;
  }
  #wrapper_new #skills .skills_left .skill_3 {
    width: 100%;
  }
  #wrapper_new #skills .skills_left .skill_4 {
    margin-left: 0;
    width: 100%;
  }
  #wrapper_new #skills .skills_left .skill_5 {
    margin-left: 0;
  }
  #wrapper_new #skills .skills_right {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  #wrapper_new #skills .skills_right .skills_right_div {
    background: rgba(18, 18, 18, 0.137254902);
    height: 43px;
  }
  #wrapper_new #skills .skills_right .skill_r1 {
    margin-right: 0;
  }
  #wrapper_new #skills .skills_right .skill_r2 {
    margin-left: 0;
  }
  #wrapper_new #skills .skills_right .skill_r3 {
    margin-left: 0;
  }
  #wrapper_new #skills .skills_right .skill_r4 {
    margin-left: 0;
  }
  #wrapper_new #skills .skills_right .skill_r5 {
    margin-right: 0;
  }
  #wrapper_new #contact .right_contact .title h2 {
    margin-left: inherit;
  }
  #wrapper_new #contact .right_contact .right_left input {
    width: 100%;
  }
  #wrapper_new #contact .right_contact .right_right #text {
    width: 100%;
  }
}/*# sourceMappingURL=app_tablet.css.map */