@media (max-width: 992px) {
  #wrapper .color-splash {
    margin-bottom: 0;
    height: auto;
  }
  #wrapper .color-splash .header .div_left {
    display: none;
  }
  #wrapper .color-splash .header .div_mid {
    width: auto;
  }
  #wrapper .color-splash .header .div_mid ul {
    padding-left: 0;
    gap: 7px;
  }
  #wrapper .color-splash .header .div_right {
    display: none;
  }
  #wrapper .color-splash .rotate_wrapper {
    top: 150px;
    width: 80%;
    margin-left: 10%;
  }
  #wrapper .color-splash .rotate_wrapper .rotating_div {
    display: none;
  }
  #wrapper .color-splash .right_content {
    margin-top: 400px;
    height: auto;
    padding-left: 20px;
    right: 0;
  }
  #wrapper .color-splash .right_content p {
    height: 300px;
    font-size: 16px;
    line-height: 25px;
  }
  #wrapper .color-splash .right_content p:first-child {
    width: auto;
    display: none;
  }
  #wrapper .color-splash .right_content h3 {
    font-size: 26px;
    width: auto;
  }
  #wrapper .color-splash .right_content .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    gap: 10px;
  }
  #wrapper .color-splash .right_content .buttons button {
    width: 40%;
  }
  #wrapper .color-splash .right_content .buttons button:last-child {
    margin-left: 0;
  }
  #wrapper_new {
    /* Hide any scrollbar that might appear due to the animation */
  }
  #wrapper_new #portfolio .info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #wrapper_new #portfolio .left_up {
    margin-top: 50px;
  }
  #wrapper_new #portfolio .right_up {
    margin-top: 0;
  }
  #wrapper_new #portfolio .cv {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #wrapper_new #portfolio .right_down {
    display: none;
  }
  @keyframes starsMove {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -50px 0;
    } /* Adjust the values to control star speed and distance */
  }
  #wrapper_new ::-webkit-scrollbar {
    display: none;
  }
  @keyframes backgrMoves {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -25px 0;
    } /* Adjust the values to control star speed and distance */
  }
  #wrapper_new #skills .title_ {
    margin-left: 175px;
    display: none;
  }
  #wrapper_new #skills .title_ h1 {
    font-size: 30px;
  }
  #wrapper_new #skills .centered_blackhole {
    margin-top: 20vh;
  }
  #wrapper_new #skills .skills_left {
    margin-top: 100px;
  }
  #wrapper_new #skills .skills_left .skill_1 {
    width: 60%;
    margin-left: 25%;
  }
  #wrapper_new #skills .skills_left .skill_2 {
    width: 60%;
    margin-left: 25%;
  }
  #wrapper_new #skills .skills_left .skill_3 {
    width: 60%;
    margin-left: 25%;
  }
  #wrapper_new #skills .skills_left .skill_4 {
    width: 60%;
    margin-left: 25%;
  }
  #wrapper_new #skills .skills_left .skill_5 {
    width: 60%;
    margin-left: 25%;
  }
  #wrapper_new #skills .skills_right {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  #wrapper_new #skills .skills_right .skills_right_div {
    background: rgba(18, 18, 18, 0.137254902);
    height: 43px;
  }
  #wrapper_new #skills .skills_right .skills_right_div p {
    font-size: 16px;
  }
  #wrapper_new #skills .skills_right .skill_r1 {
    margin-right: 0;
  }
  #wrapper_new #skills .skills_right .skill_r2 {
    margin-left: 0;
  }
  #wrapper_new #skills .skills_right .skill_r3 {
    margin-left: 0;
  }
  #wrapper_new #skills .skills_right .skill_r4 {
    margin-left: 0;
  }
  #wrapper_new #skills .skills_right .skill_r5 {
    margin-right: 0;
  }
  #wrapper_new #projects {
    padding-bottom: 70px;
  }
  #wrapper_new #projects .projects_left {
    margin-top: 100px;
  }
  #wrapper_new #projects .projects_left .project_info .project_image img {
    width: 300px;
    height: 150px;
  }
  #wrapper_new #projects .project_arrow {
    order: 99;
    margin-top: 50px;
  }
  #wrapper_new #projects .projects_right {
    margin-top: 25px;
  }
  #wrapper_new #contact {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  #wrapper_new #contact .check_work {
    margin-top: 25px;
    margin-bottom: 50px;
  }
  #wrapper_new #contact .left_contact {
    margin-left: 50px;
  }
  #wrapper_new #contact .left_contact .left_info a {
    font-size: 16px;
  }
  #wrapper_new #contact .left_contact .left_info p {
    font-size: 14px;
  }
  #wrapper_new #contact .right_contact .title {
    margin-top: 25px;
  }
  #wrapper_new #contact .right_contact .title h2 {
    font-size: 18px;
    margin-left: inherit;
    text-align: center;
  }
  #wrapper_new #contact .right_contact .right_left {
    margin-top: 25px;
  }
  #wrapper_new #contact .right_contact .right_left input {
    width: inherit;
  }
  #wrapper_new #contact .right_contact .right_right {
    margin-top: 30px;
  }
  #wrapper_new #contact .right_contact .right_right #text {
    width: inherit;
  }
  #wrapper_new #contact .right_contact .form_button {
    margin-top: 30px;
  }
  #wrapper_new #contact .right_contact .form_button button {
    margin-right: 0;
  }
}/*# sourceMappingURL=app_mobile.css.map */