@media (max-width: 992px) {
  // @keyframes cometAnimation {
  //     0% {
  //       transform: scale(0); /* Start small and invisible */
  //       opacity: 0.5;
  //     }
  //     50% {
  //       transform: scale(1.5); /* Transition to its actual size */
  //       opacity: 0.5; /* Adjust opacity as needed */
  //     }
  //     100% {
  //       transform: scale(3.5); /* Increase size at the end */
  //       opacity: 0; /* Fade out at the end */
  //     }
  //   }
  #wrapper {
    .color-trail {
    }
    // ----------------------Background-------------------------
    .color-splash {
      margin-bottom: 0; // (For larger screens). -Changed back to default.
      height: auto;
      &:hover {
      }
      &:video {
      }

      // -------------------Header--------------------
      .header {
        .div_left {
          display: none;
          a {
            &:hover {
              span {
              }
            }
            span {
            }
          }
        }
        .div_mid {
          width: auto;
          ul {
            padding-left: 0;
            gap: 7px;
            li {
              a {
                &:hover {
                }
              }
            }
          }
        }
        .div_right {
          display: none;
          a {
            &:hover {
            }
          }
        }
      }
      // ----------------------First Content-----------------------
      // --------------Left Content----------------
      .rotate_wrapper {
        top: 150px;
        width: 80%;
        margin-left: 10%;
        .left_image {
          img {
          }
        }
        .rotating_div {
          display: none;
        }
      }
      // -------------Right Content--------------
      .right_content {
        margin-top: 400px;
        height: auto;
        padding-left: 20px;

        right: 0;
        p {
          height: 300px;
          font-size: 16px;
          line-height: 25px;
          &:first-child {
            width: auto;
            display: none;
          }
        }
        h3 {
          font-size: 26px;
          width: auto;
        }
        .buttons {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-top: -30px;
          gap: 10px;

          button {
            width: 40%;
            &:hover {
            }
            &:last-child {
              margin-left: 0;
            }
            a {
            }
          }
        }
      }
    }

    // ---------------------Wrapper End-----------------------
  }
  // --------------------------------------------------
  //                 *  New Wrapper
  // --------------------------------------------------
  #wrapper_new {
    #portfolio {
      .portfolio_above {
        button {
        }
        #button_1 {
        }
        #button_2 {
        }
      }
      .portfolio_mid {
        .sun {
          &:hover {
          }
          button {
          }
        }
      }
      .portfolio_under {
        button {
        }
        #button_3 {
        }
        #button_4 {
        }
      }
      .info {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          span {
          }
          // ---------------------
        }
      }
      .left_up {
        margin-top: 50px;
      }
      .right_up {
        margin-top: 0;
      }
      .left_down {
      }
      .cv {
        margin-top: 10px;
        margin-bottom: 20px;

        a {
          &:first-child:hover {
          }
          &:last-child {
            &:hover {
            }
          }
        }
      }
      .right_down {
        display: none;
      }
    }

    @keyframes starsMove {
      from {
        background-position: 0 0;
      }
      to {
        background-position: -50px 0;
      } /* Adjust the values to control star speed and distance */
    }

    /* Hide any scrollbar that might appear due to the animation */
    ::-webkit-scrollbar {
      display: none;
    }
    // ---------------------------------------------
    //                  Skills
    // ---------------------------------------------
    #skills {
      @keyframes backgrMoves {
        from {
          background-position: 0 0;
        }
        to {
          background-position: -25px 0;
        } /* Adjust the values to control star speed and distance */
      }
      .title_ {
        margin-left: 175px;
        display: none;
        h1 {
          font-size: 30px;
        }
      }
      .centered_blackhole {
        margin-top: 20vh;
      }
      .skills_left {
        margin-top: 100px;
        .skills_left_div {
          &::before {
          }

          &::after {
          }
          h3 {
          }
        }
        .skill_1 {
          width: 60%;
          margin-left: 25%;
          &::before {
          }
        }
        .skill_2 {
          width: 60%;
          margin-left: 25%;
          &::before {
          }
        }
        .skill_3 {
          width: 60%;
          margin-left: 25%;
          &::before {
          }
        }
        .skill_4 {
          width: 60%;
          margin-left: 25%;

          &::before {
          }
        }
        .skill_5 {
          width: 60%;
          margin-left: 25%;
          &::before {
          }
        }
      }
      // .....................
      .skills_right {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .skills_right_div {
          background: #12121223;
          height: 43px;
          &::before {
          }

          &::after {
          }
          h3 {
          }
          p {
            font-size: 16px;
          }
        }
        .skill_r1 {
          margin-right: 0;
          &::before {
          }
        }
        .skill_r2 {
          margin-left: 0;
          &::before {
          }
        }
        .skill_r3 {
          margin-left: 0;
          &::before {
          }
        }
        .skill_r4 {
          margin-left: 0;
          &::before {
          }
        }
        .skill_r5 {
          margin-right: 0;
          &::before {
          }
        }
      }
      .down_arrow {
        a {
          &:hover {
          }
        }
      }
    }
    // ------------------------------------------------------
    //                     * PROJECTS
    // ------------------------------------------------------
    #projects {
      padding-bottom: 70px;
      .projects_left {
        margin-top: 100px;
        .project_info {
          &:last-child {
          }

          &:hover {
          }
          h3 {
          }
          p {
          }
          .project_image {
            img {
              width: 300px;
              height: 150px;
            }
          }
        }
      }
      .project_arrow {
        order: 99;
        margin-top: 50px;
        a {
          &:hover {
          }
        }
      }
      .projects_right {
        margin-top: 25px;
        #iframe {
        }

        &:hover {
        }
      }
    }
    // ---------------------------------------------------------------------
    //                             * CONTACT
    // ---------------------------------------------------------------------
    #contact {
      padding-top: 30px;
      padding-bottom: 50px;

      // ----------------
      .check_work {
        margin-top: 25px;
        margin-bottom: 50px;
        a {
        }
      }
      .left_contact {
        margin-left: 50px;
        .left_info {
          &:before {
          }
          a {
            font-size: 16px;
          }
          p {
            font-size: 14px;
          }
        }
        .before_1::before {
        }
        .before_2::before {
        }
        .before_3::before {
        }
      }
      // -------------------
      .right_contact {
        .title {
          margin-top: 25px;
          h2 {
            font-size: 18px;
            margin-left: inherit;
            text-align: center;
          }
        }
        .right_left {
          margin-top: 25px;
          input {
            width: inherit;

            &::placeholder {
            }

            #subject {
            }
            #email {
            }
            #phone {
            }
          }
        }
        .right_right {
          margin-top: 30px;
          #text {
            width: inherit;

            &::placeholder {
            }
          }
        }
        .form_button {
          margin-top: 30px;
          button {
            margin-right: 0;

            &:hover {
            }
          }
        }
      }
    }

    //  -----------
    // --------------------
    // ----------------------------
    // ------------------------------------
    // ---------------------------------------------
    // -------------Wrapper New End----------------
  }
  // -----
  // ------------
  // --------------------
  // ---------------------------
  // -------------------------------------
  // --------------Media Ending------------------
}
