@media (min-width: 993px) and (max-width: 1200px) {
  // @keyframes cometAnimation {
  //     0% {
  //       transform: scale(0); /* Start small and invisible */
  //       opacity: 0.5;
  //     }
  //     50% {
  //       transform: scale(1.5); /* Transition to its actual size */
  //       opacity: 0.5; /* Adjust opacity as needed */
  //     }
  //     100% {
  //       transform: scale(3.5); /* Increase size at the end */
  //       opacity: 0; /* Fade out at the end */
  //     }
  //   }
  #wrapper {
    .color-trail {
    }
    // ----------------------Background-------------------------
    .color-splash {
      // Thisssss 0------------------------------------------------------------------------------------

      &:hover {
      }
      &:video {
      }

      // -------------------Header--------------------
      .header {
        .div_left {
          a {
            &:hover {
              span {
              }
            }
            span {
            }
          }
        }
        .div_mid {
          width: auto;
          position: relative;

          ul {
            li {
              a {
                &:hover {
                }
              }
            }
          }
        }
        .div_right {
          display: block;
          a {
            position: absolute;
            right: 70px;
            top: 40px;
            &:hover {
            }
          }
        }
      }
      // ----------------------First Content-----------------------
      // --------------Left Content----------------
      .rotate_wrapper {
        margin-left: 0;

        .left_image {
          img {
          }
        }
        .rotating_div {
        }
      }
      // -------------Right Content--------------
      .right_content {
        top: 150px;
        p {
          font-size: 18px;
          &:first-child {
            display: none;
          }
        }
        h3 {
          width: 100%;
        }
        .buttons {
          button {
            &:hover {
            }
            &:last-child {
            }
            a {
            }
          }
        }
      }
    }

    // ---------------------Wrapper End-----------------------
  }
  // --------------------------------------------------
  //                 *  New Wrapper
  // --------------------------------------------------
  #wrapper_new {
    #portfolio {
      .portfolio_above {
        button {
        }
        #button_1 {
        }
        #button_2 {
        }
      }
      .portfolio_mid {
        .sun {
          &:hover {
          }
          button {
          }
        }
      }
      .portfolio_under {
        button {
        }
        #button_3 {
        }
        #button_4 {
        }
      }
      .info {
        p {
          span {
          }
          // ---------------------
        }
      }
      .left_up {
      }
      .right_up {
        margin-top: -150px;
      }
      .left_down {
      }
      .cv {
        a {
          &:first-child:hover {
          }
          &:last-child {
            &:hover {
            }
          }
        }
      }
      .right_down {
      }
    }
    // -------------------------------------------------
    //                    Skills
    // -------------------------------------------------
    #skills {
      .title_ {
        margin-left: 175px;
        h1 {
          font-size: 30px;
        }
      }
      .centered_blackhole {
      }
      .skills_left {
        .skills_left_div {
          &::before {
          }

          &::after {
          }
          h3 {
          }
        }
        .skill_1 {
          margin-left: 0;
          &::before {
          }
        }
        .skill_2 {
          width: 100%;
          margin-left: 0;
          &::before {
          }
        }
        .skill_3 {
          width: 100%;
          &::before {
          }
        }
        .skill_4 {
          margin-left: 0;
          width: 100%;
          &::before {
          }
        }
        .skill_5 {
          margin-left: 0;
          &::before {
          }
        }
      }
      // .....................
      .skills_right {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .skills_right_div {
          background: #12121223;
          height: 43px;
          &::before {
          }

          &::after {
          }
          h3 {
          }
          p {
          }
        }
        .skill_r1 {
          margin-right: 0;
          &::before {
          }
        }
        .skill_r2 {
          margin-left: 0;
          &::before {
          }
        }
        .skill_r3 {
          margin-left: 0;
          &::before {
          }
        }
        .skill_r4 {
          margin-left: 0;
          &::before {
          }
        }
        .skill_r5 {
          margin-right: 0;
          &::before {
          }
        }
      }
      .down_arrow {
        a {
          &:hover {
          }
        }
      }
    }
    // ------------------------------------------------------
    //                     * PROJECTS
    // ------------------------------------------------------
    #projects {
      .projects_left {
        .project_info {
          &:last-child {
          }

          &:hover {
          }
          h3 {
          }
          p {
          }
          .project_image {
            img {
            }
          }
        }
      }
      .project_arrow {
        a {
          &:hover {
          }
        }
      }
      .projects_right {
        #iframe {
        }

        &:hover {
        }
      }
    }

    // @keyframes starsMove {
    //   from { background-position: 0 0 ; }
    //   to { background-position: 0px -50px ; } /* Adjust the values to control star speed and distance */
    // }

    /* Hide any scrollbar that might appear due to the animation */
    // ::-webkit-scrollbar {
    //   display: none;
    //  }
    // ---------------------------------------------------------------------
    //                             * CONTACT
    // ---------------------------------------------------------------------
    #contact {
      // ----------------
      .check_work {
        a {
        }
      }
      .left_contact {
        .left_info {
          &:before {
          }
          a {
          }
          p {
          }
        }
        .before_1::before {
        }
        .before_2::before {
        }
        .before_3::before {
        }
      }
      // -------------------
      .right_contact {
        .title {
          h2 {
            margin-left: inherit;
          }
        }
        .right_left {
          input {
            width: 100%;

            &::placeholder {
            }

            #subject {
            }
            #email {
            }
            #phone {
            }
          }
        }
        .right_right {
          #text {
            width: 100%;

            &::placeholder {
            }
          }
        }
        .form_button {
          button {
            &:hover {
            }
          }
        }
      }
    }
    //  -----------
    // --------------------
    // ----------------------------
    // ------------------------------------
    // ---------------------------------------------
    // -------------Wrapper New End----------------
  }
  // -----
  // ------------
  // --------------------
  // ---------------------------
  // -------------------------------------
  // --------------Media Ending------------------
}
