#cv_wrapper {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/space4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#cv_wrapper #embed {
  border-radius: 20px;
}
@media (max-width: 768px) {
  #cv_wrapper #embed {
    width: 400px;
    height: 500px;
  }
}
@media (max-width: 1200px) {
  #cv_wrapper #embed {
    width: 500px;
    height: 600px;
  }
}/*# sourceMappingURL=cv.css.map */