@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ----Media Leftovers----- */
@media (min-width: 1000px) and (max-width: 1200px) {
  #colorSplashDiv .header {
    width: 1000px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  #colorSplashDiv .header {
    width: 1200px;
  }
  #contact .right_contact .right_left input {
    width: 90% !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #colorSplashDiv .header .div_right {
    display: flex !important;
  }
  #wrapper .right_title_ p {
    font-size: 50px;
  }
  #wrapper .right_title_ #first_buttons {
    margin-top: -100px;
  }
}
/* ----------------- Portfolio------------------- */
@media (min-width: 768px) and (max-width: 992px) {
  #portfolio .info {
    display: none !important;
  }
  #portfolio .cv {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 70px !important;
  }
}
/* ----------Hire Me Effect----------- */
.hire_effect {
  box-shadow: 0 0 0 10px rgba(33, 150, 243, 0.4),
    0 0 20px rgba(33, 150, 243, 0.4), 0 0 40px rgba(33, 150, 243, 0.4),
    0 0 80px rgba(33, 150, 243, 0.4);
  animation: float 3s ease forwards; /* Change 'infinite' to 'forwards' to play the animation only once */
}

@keyframes float {
  0% {
    transform: translate(0, 0);
    box-shadow: 0 0 0 10px rgba(33, 150, 243, 0.4),
      0 0 20px rgba(33, 150, 243, 0.4), 0 0 40px rgba(33, 150, 243, 0.4),
      0 0 80px rgba(33, 150, 243, 0.4);
  }
  50% {
    transform: translate(0, -10px);
    box-shadow: 0 0 0 10px rgba(33, 150, 243, 0.2),
      0 0 20px rgba(33, 150, 243, 0.2), 0 0 40px rgba(33, 150, 243, 0.2),
      0 0 80px rgba(33, 150, 243, 0.2);
  }
  100% {
    transform: translate(0, 0);
    box-shadow: 0 0 0 10px rgba(33, 150, 243, 0), 0 0 20px rgba(33, 150, 243, 0),
      0 0 40px rgba(33, 150, 243, 0), 0 0 80px rgba(33, 150, 243, 0);
    /* background-color: transparent; Gradually make the background color transparent */
  }
}

/* ----------------------------Sun Glowing Effect------------------------------- */
.sun {
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  opacity: 1;
  box-shadow: 0px 0px 40px 15px white;
}

/* ---------------------------------
           Black Hole
--------------------------------- */
.space {
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 30px, 130px 270px, 70px 100px;
  animation: spin 25s linear infinite;
  width: 100px;
  height: 100px;

  opacity: 0.6;
}

.blackhole {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: 4px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
  animation: spin 5s infinite linear;
  /* animation Changed */
  background: #000;
  box-shadow: 0 0 50px 50px rgba(0, 0, 0, 1);
}

.debris {
  position: absolute;
  top: 160%;
  left: 100%;
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  animation: drain 5s infinite ease-in;
  @media (max-width: 768px) {
    display: none;
  }
}

.debris + .debris {
  left: 100%;
  animation-delay: 1200ms;
  transform: scale(0.7);
  animation-speed: 7s;
}

.debris + .debris + .debris {
  top: 0%;
  left: 185%;
  animation-delay: 500ms;
  transform: scale(0.8);
  animation-speed: 4s;
}

.debris + .debris + .debris + .debris {
  top: 150%;
  left: 200%;
  animation-delay: 700ms;
  transform: scale(0.4);
  animation-speed: 2s;
}

.debris + .debris + .debris + .debris + .debris {
  top: 150%;
  left: 100%;
  animation-delay: 200ms;
  transform: scale(0.5);
}
.debris + .debris + .debris + .debris + .debris + .debris {
  top: -180%;
  left: -200%;
  animation-delay: 2000ms;
  transform: scale(0.7);
  animation-speed: 6s;
}

.debris + .debris + .debris + .debris + .debris + .debris + .debris {
  top: 200%;
  left: 200%;
  animation-delay: 3000ms;
  transform: scale(0.3);
}

.debris + .debris + .debris + .debris + .debris + .debris + .debris + .debris {
  top: 110%;
  left: 180%;
  animation-delay: 400ms;
  transform: scale(1.2);
}

@keyframes drain {
  95% {
    opacity: 1;
  }
  to {
    top: 50%;
    left: 50%;
    opacity: 0;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* ----------------I never stop learning Effect------------------- */

.title_ {
  position: relative;
}

.title_ h1 {
  color: #fff;
  font-size: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.title_ h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.title_ h1:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

/* --------------Skills Typewriting (#skills)--------------------  */
.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
/* ----------------------Check Out my Work Effect------------------------ */

/* --------------------------------------  */
.glow-by-default {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glow-by-default:before,
.glow-by-default:hover:before {
  /* Apply the effect on hover as well */
  content: "";
  background: linear-gradient(
    45deg,
    #f0eeee,
    #ffffff,
    #f1f1f0,
    #f0f1f0,
    #e1e1e1,
    #fdfdff,
    #c3c3c4,
    #e7e2e6,
    #ffffff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1; /* Change opacity to 1 to show by default and on hover */
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-by-default:hover {
  color: #000;
  color: white;
}

.glow-by-default:hover:after {
  background: transparent;
}

.glow-by-default:hover:before {
  opacity: 0.5; /* Show the glow on hover */
}

.glow-by-default:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* ----------------Same effect just some changes------------- */
.glow-by-def {
  width: 160px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glow-by-def:before,
.glow-by-def:hover:before {
  /* Apply the effect on hover as well */
  content: "";
  background: linear-gradient(
    45deg,
    #f0eeee,
    #ffffff,
    #f1f1f0,
    #f0f1f0,
    #e1e1e1,
    #fdfdff,
    #c3c3c4,
    #e7e2e6,
    #ffffff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1; /* Change opacity to 1 to show by default and on hover */
  transition: opacity 0.3s ease-in-out;
  border-radius: 30px;
}

.glow-by-def:hover {
  color: #000;
  color: white;
}

.glow-by-def:hover:after {
  background: transparent;
}

.glow-by-def:hover:before {
  opacity: 0.5; /* Show the glow on hover */
}

.glow-by-def:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 30px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* ----------------------------- */
/* -------------Horizontal Background ------------------- */
.horizontal_background {
  height: 40px;
  width: 100%;
  z-index: 100;
  &:hover {
    cursor: none;
  }
}
.glow-for-horizontal {
  width: inherit;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #000000;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glow-for-horizontal:before,
.glow-for-horizontal:hover:before {
  /* Apply the effect on hover as well */
  content: "";
  background: linear-gradient(
    45deg,
    #f0eeee,
    #ffffff,
    #f1f1f0,
    #f0f1f0,
    #e1e1e1,
    #fdfdff,
    #c3c3c4,
    #e7e2e6,
    #ffffff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  /* Removed 4px above */
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0.7; /* Change opacity to 1 to show by default and on hover */
  transition: opacity 0.3s ease-in-out;
  border-radius: 0;
}

.glow-for-horizontal:hover {
  /* color: #000;
  color: white; */
}

.glow-for-horizontal:hover:after {
  /* background: transparent; */
}

.glow-for-horizontal:hover:before {
  /* opacity: 0.5; Show the glow on hover */
}

.glow-for-horizontal:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  left: 0;
  top: 0;
  border-radius: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* --------------------------------------------- */

.glow_blackhole {
  width: 100px;
  height: 100px;
  border: none;
  outline: none;
  color: #fff;
  background: #000000;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glow_blackhole:before,
.glow_blackhole:hover:before {
  /* Apply the effect on hover as well */
  content: "";
  background: linear-gradient(
    45deg,
    #f0eeee,
    #ffffff,
    #f1f1f0,
    #f0f1f0,
    #e1e1e1,
    #fdfdff,
    #c3c3c4,
    #e7e2e6,
    #ffffff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  /* Removed 4px above */
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0.7; /* Change opacity to 1 to show by default and on hover */
  transition: opacity 0.3s ease-in-out;
  border-radius: 50%;
}

.glow_blackhole:hover {
  /* color: #000;
  color: white; */
}

.glow_blackhole:hover:after {
  /* background: transparent; */
}

.glow_blackhole:hover:before {
  /* opacity: 0.5; Show the glow on hover */
}

.glow_blackhole:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  left: 0;
  top: 0;
  border-radius: 50%;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* -------------------------------------
          BlackHole Effect 
------------------------------------- */

@keyframes growBlackhole {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(40); /* Adjust the scale factor as needed */
  }
}
